<% include ./partials/header %>

<!-- Page Heading -->
<h1 class="ui big header" style="font-size:3em; padding: 30px 0 15px 0;">
  Welcome to <em>UpLift</em>!
  <p style="font-size:0.4em; padding-top:10px;">Safe spaces for sharing difficult experiences</p>
</h1>

<div class="container">
  <div class="row">
    <% categories.forEach(function(category){ %>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div style="position:relative;">
              <a href="/home/<%=category._id%>"><img class="card-img-top" src="<%=category.image%>"></a>
              <div class="card-body">
                  <h4 style="position: absolute; top: 70%;" class="card-title">
                      <a href="/home/<%=category._id%>" style=" color: white; text-shadow: 2px 2px 4px black; font-size:1.1em"><%=category.title%></a>
                  </h4>
                  <div class="ui pink label" style="font-size:1.1em;margin: -18px">
                    <i class="users icon"></i> <%=category.members%> Members
                  </div>
              </div>
          </div>
      </div>
    <% }) %>
  </div>
</div>
<br/>
<div class="content" style="text-align:center; margin-top: 50px; font-size:1.2em;">
  <a href="#" style="color:#212121!important;">Show more</a>
</div>


<footer class="page-footer font-small indigo" style="background-color: #1b1c1c; color:white; margin-top: 6em;">

    <!-- Footer Links -->
    <div class="container">

        <!-- Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem; margin-bottom: 40px;">
                  <span><b>Our mission</b></span><br/><br/>
                  BCIT Uplift is an open safe place to freely talk to others about experiences that are affecting your academics, quality of life or motivation in school.

We aim to help students and counsellors to find methods in overcoming hardships that come by that affect one's life.
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        <!-- Grid row-->
        <div class="row pb-3">


        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Links -->
</footer>

<% include ./partials/footer %>
