<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>BCIT US</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>


  <div class="ui inverted primary menu">
    <div class="ui container">


      <div class="left menu">
        <div class="ui secondary menu">
          <a class="item" href="/">
            <img class="ui small image" src="/uplift.png" style="width:65px; margin:0;padding:0;">
          </a>
          <a class="ui item pink label" href="/" style="left:-12px; font-size:0.7em;">BCIT</a>
        </div>
      </div>

      <div class="right menu">
        <div class="ui secondary menu">
          <% if(!currentUser){ %>
          <a class="ui item" href="/register">Signup</a>
          <a class="ui item" href="/login">Login</a>
          <% } else { %>
          <a class="ui item" href="/<%=category._id%>/new">
            <i class="edit icon" style="font-size:1em;"></i>Post
          </a>
          <a class="ui item" href="/contact">
            <i class="envelope icon" style="font-size:1.2em;"></i>Messages
          </a>
          <a class="ui item" href="#">
            <img class="ui right spaced avatar image" src="<%=currentUser.profilePicture%>">
            <%= currentUser.username %>
          </a>
          <a class="ui item" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>

    </div>
  </div>

  <!-- Page Heading -->
  <h1 class="ui big header" style="font-size:2.8em; padding: 20px 0 30px 0">
    <em><%=category.title%></em>
    <p style="font-size:0.4em; padding-top:10px;">Share experiences</p>
  </h1>


<% category.posts.reverse().forEach(function(post){ %>
  <div class="ui card container" style="box-shadow: 0 1px 5px 0 #d9d9d9, 0 0 0 0px #d9d9d9;">
    <div class="content">
      <div class="header">
        <a class="ui header" href="/show/<%=post._id%>">
          <%=post.title%>
        </a>
      </div>
      <!-- FOR IMAGE -->
      <img class="ui large image" src="<%=post.image%>">
      <div class="description">
        <p><%=post.body%></p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated">
        <a class="ui image label">
          <img src="<%=post.author.profilePicture%>">
          <%= post.author.username %>
        </a>
        <a href="">
          <div class="ui label">
            <i class="comment icon"></i>
            <% if(post.comments.length > 0){ %>
              <%= post.comments.length %>
            <% } %>
          </div>
        </a>
      </span>
      <span class="right floated date">
        <%= moment(post.created).fromNow() %>
      </span>
    </div>



  </div>
<% }) %>

<!-- CHAT -->
<div>
<div class="chat-popup" id="myForm">
    <div class="members-count">-</div>
    <div class="members-list" style="size:5">-</div>
    <div class="messages" style="size:5"></div>
    <form class="message-form" onsubmit="return false;">
        <input class="message-form__input" placeholder="Type your message.." type="text"/>
        <input class="ui small pink button message-form__button" value="Send" type="submit"/>
    </form>
</div>
</div>
<div>

<button class="ui small button open-button" onclick="openForm()">Show Chat</button>
<button class="ui small button close-button" onclick="closeForm()">Hide Chat</button>
</div>

<% include ./partials/footer %>
