<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BCIT US</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
</head>


  <div class="ui primary menu">
    <div class="ui container">


      <div class="left menu">
        <div class="ui secondary menu">
          <a class="item" href="/">BCIT US</a>
        </div>
      </div>

      <div class="right menu">
        <div class="ui secondary menu">
          <% if(!currentUser){ %>
          <a class="ui item" href="/register">Signup</a>
          <a class="ui item" href="/login">Login</a>
          <% } else { %>
          <a class="ui item" href="/<%=category._id%>/new">
            <i class="edit icon" style="font-size:1em;"></i>Post
          </a>
          <a class="ui item" href="/projects/new">
            <i class="inbox icon" style="font-size:1em;"></i>Inbox
          </a>
          <a class="ui item" href="/profile/<%=currentUser._id%>">
            <%= currentUser.firstName %></a>
          <a class="ui item" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>

    </div>
  </div>


<h1 class="ui header"><%=category.title%></h1>

<% category.posts.reverse().forEach(function(post){ %>
  <div class="ui card container">
    <div class="content">
      <div class="header">
        <a class="ui header">
          <%=post.title%>
        </a>
      </div>
      <div class="description">
        <p><%=post.body%></p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated">
        <a class="ui label" href="">
          <%= post.author.username %>
        </a>
        <a href="">
          <div class="ui label">
            <i class="comment icon"></i>
            <% if(post.comments.length > 0){ %>
              <%= post.comments.length %>
            <% } %>
          </div>
        </a>
      </span>
      <span class="right floated date">
        <%= moment(post.created).fromNow() %>
      </span>
    </div>



  </div>
<% }) %>

<% include ./partials/footer %>
